.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 9999px;
  background-color: theme("colors.sapphire-blue");
}

.navbar-list {
  display: none;
}

.navbar-menu {
  width:50%;
  height: 100vh;
  position: fixed;
  padding-left: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: theme('colors.sapphire-blue');
}

.navbar-menu-close {
  cursor: pointer;
  position: fixed;
  top: 15px;

  right: 15px;
}

.app__navbar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 100px;
}
.navbar-media {
  margin-top: 3.5rem;
}

.navbar-links {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .navbar-menu {
    width: 30%
  }
}

@media screen and (min-width: 950px){
  .navbar-list {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-links {
    font-size: 1.35rem;
  }
}
