/* .app__navbar-menu {
  width:50%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 1rem;
  background-color: theme('colors.prussian-blue'); 
}; */

.app__navbar-menu-out {
  width:50%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 1rem;
  background-color: theme('colors.sapphire-blue');
}

.navbar-menu-close {
  cursor: pointer;
  position: fixed;
  margin: 15px 15px;
  top: 0;
  bottom: 0;
  right: 0;
}

.app__navbar-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: relative;
  top: 60px;
}


.navbar-media {
  
}

/* @media screen and (min-width: 425px){
  .app__navbar-list {
    flex-direction: row;
  }
} */
